html,
body {
  height: 100%;
  font-size: 15px;
  font-weight: 100;
  background-color: #bdc3c7;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,

path.path_back {fill: #899eb3;}
path.path_front {fill: #34495e;}
text {fill: #34495e;font-family: 'Open Sans Condensed', sans-serif;}